span{
    color: yellowgreen;
}
h1{
    margin: 0 auto;
    font-size: 80px;
    color: white;
}
h3{
    color: red;
}
h5{
    color: black;
}
a{
    color: yellow;
    text-decoration: none;
}
img{
    height: 100px;
    width: 100px;
}
.op{
    background-color: rgb(83, 83, 138);
    padding: 30px;
}
.boxes{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 30px;
    margin-top: 70px;
}
.hr{
    border: 4px solid white;
    border-radius: 5px;
}
.h2{
    width: 100%;
}