body{
    background: #F2CEDA;
    margin-left: 254px;
}
.nabar{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.as{
    margin-left: 300px;
    gap: 100px;
}
.buy{
    margin-left: 300px;
    color: #FAFAFA;
    font-family: Hind Madurai;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 165px;
    height: 49px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #D23166;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: none;
}
.buy1{
    width: 65px;
    height: 17px;
    flex-shrink: 0;
    color: #FAFAFA;
    font-family: Hind Madurai;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    top: 30px;
    right: 300px;
}
.nar{
    text-decoration: none;
    color: black;
}
.nar:hover{
    color: red;
}
.past{
    display: flex;
    align-items: center;
}
.img{
    position: relative;
    bottom: 450px;
    left: 740px;
    z-index: 2;
}
span{
    opacity: 0.9;
    color: #D23166;
    font-family: Fredoka One;
    font-size: 57.33px;
    font-style: normal;
    font-weight: 400;
    line-height: 120.5%;
}
h1{
    width: 665px;
    height: 130px;
    flex-shrink: 0;
    color: #0F0101;
    font-family: Fredoka One;
    font-size: 57.33px;
    font-style: normal;
    font-weight: 400;
    line-height: 120.5%; /* 69.083px */
    opacity: 0.9;
}
h6{
    color: #0F0101;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.4px;
}
p{
    width: 523px;
    height: 78px;
    flex-shrink: 0;
    color: #0F0101;
    font-family: Hind Madurai;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
    opacity: 0.6;
}
.oo{
    position: relative;
    left: 250px;
    top: 50px;
    z-index: 1;
}
.jj{
    height: 300px;
    width: 300px;
    position: relative;
    bottom: 900px;
    left: 1050px;
    background-color: #e64379a8;
    border-radius: 50%;
}