/* i{
    background-color: brown;
}
strong{
    background-color: aqua;
    display: block;
}
img{
    background-color: black;
}
a{
    background-color: blue;
}
p{
    background-color: chocolate;
    display: inline;
} */







