





































/* body{
    background-color: rgb(200, 200, 200);
}
.tit{
    text-align: center;
    padding: 0px;
}

.boxes{
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box1{
    background-color: white;
    padding: 50px;
    width: 200px;
    justify-content: center;
    text-align: center;
}
.box2{
    background-color: rgb(34, 140, 167);
    padding: 80px;
    width: 200px;
    justify-content: center;
    text-align: center;

}
.box3{
    background-color: white;
    padding: 50px;
    width: 200px;
    justify-content: center;
    text-align: center;
} */