body{
    background-color: #f0f3fa;
}
.h22{
    color: var(--text-color, #252B42);
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 57px; 
    letter-spacing: 0.2px;
    text-align: center;
}
p{
    color: var(--second-text-color, #737373);
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; 
    letter-spacing: 0.2px;
    margin-bottom: 50px;
}

.box1{
    background-color: white;
    display: flex;
    width: 230px;
    padding: 30px 40px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.img1{
    width: 48px;
    height: 44.211px;
    flex-shrink: 0;
}
.box2{
    background-color: white;
    display: flex;
    width: 230px;
    padding: 30px 40px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
}
.img2{
    width: 48px;
    height: 29px;
    flex-shrink: 0;
}
.box3{
    background-color: white;
    display: flex;
    width: 230px;
    padding: 30px 40px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
/* .img3{
    width: 48px;
    height: 50px;
    flex-shrink: 0;
} */
.box4{
    background-color: white;
    display: flex;
    width: 230px;
    padding: 30px 40px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.img4{
    width: 48px;
    height: 40.709px;
    flex-shrink: 0;
}
h2{
    color: var(--text-color, #252B42);
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 57px; 
    letter-spacing: 0.2px;
    margin-top: 20px;
    margin-bottom: 20px;
}
h5{
    color: var(--second-text-color, #737373);
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
    letter-spacing: 0.1px;
    margin-top: 0;
    margin-bottom: 0;
}
.boxes{
    display: flex;
    display: flex;
    align-items: flex-start;
    gap: 30px;
}