.boxes{
    display: flex;
}
.org{
    background-color: rgb(4, 4, 54);
    margin-left: 50px;
    margin-right: 250px;
    margin-bottom: 20px;
    margin-top: 40px;
    padding: 50px;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 40px;
    padding-bottom: 5px;
}
.tit{
    color: darkgrey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.uu{
    width: 400px;
    margin-bottom: 5px;
}
.tit2{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.img1{
    height: 250px;
    width: 400px;
    border-radius: 5px;
}
.ii{
    display: flex;
    align-items: center;
    margin-left: 700px;
}
.yy{
    /* width: 400px; */
    margin-right: 150px;
}
.hrr{
    margin-bottom: 20px;
}
.jj{
    margin-left: 23px;
}
.nabar{
    display: flex;
    align-items: center;
}
.icon{
    width: 30px;
    height: 30px;
}
.img1:hover{
    -webkit-filter: brightness(50%);
}
.img2{
    height: 100px;
    width: 100px;
}
.yy{
    display: flex;
    align-items: center;
}
.tut{
    font-size: 20px;
    position: relative;
    top: 2px;
    left: 4px;
}
.button{
    width: 10px;
    height: 10px;
    position: absolute;
    top: 20px;
    right: 10px;
}
.button:hover{
    z-index: 1;
    color: black;
}
.uu{
    font-size: 30px;
}
.oo{
    font-size: 17px;
}
.pp{
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid var(--light-text-color, #ee0707);
    display: flex;
    padding: 10px 20px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.pp:hover{
    display: flex;
    padding: 15px 40px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: var(--primary-color, #ee0707);
}
.p2{
    margin-bottom: 0px;
}
.p3{
    position: relative;
    bottom: 28px;
}
.p4{
    position: relative;
    bottom: 22px;
}
.kk{
    height: 240px;
}
.dum{
    background-color: orange;
    border-radius: 50%;
}
.imgg{
    width: 300px;
    height: 200px;
}
.past{
    display: flex;
    margin-left: 200px;
}
.one{
    width: 300px;
    height: 400px;
}
.two{
    width: 300px;
    height: 400px;
    margin-left: 20px;
}
.too{
    position: relative;
    left: 230px;
}
.gre{
    color: white;
    background-color: blueviolet;
    display: inline;
    padding: 10px;
    position: relative;
    bottom: 35px;
}
.orw{
    border-radius: 50%;
    background-color: orangered;
    width: 10px;
    height: 10px;
    position: relative;
    bottom: 460px;
    left: 210px;
}
.ll{
    color: darkgray;
}
.orp{
    position: relative;
}
.hh{
    color: grey;
}